<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ANESample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ANESampleiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB2E732818060D2F002BF77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB2E733518060D2F002BF77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3E32DA1806094000002DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3E32EA1806094000002DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
